
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    <title>Brands</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Shoes and Such</h1>
        </div>
        <div class="container">
            <h1>{{ brand.getBrandName }}</h1>

            <h2>This brand is available in the following stores:</h2>
            <ul>
                {% if stores is not empty %}
                    <ul>
                        {% for store in stores %}
                        <li>{{ store.getStoreName }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>This brand is not in any stores yet!</p>
                {% endif %}
            </ul>

            <h4>Add this brand to a store:</h4>

            <form action='/add_stores' method='post'>
                <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId }}">
                <label for='store_id'>Select a Store</label>
                <select id='store_id' name='store_id' type='text'>
                  {% for store in all_stores %}
                    <option value="{{ store.getId }}">{{ store.getStoreName }} </option>
                  {% endfor %}
              </select>

                <button type='submit' class="btn btn-info">Add store</button>
            </form>

            <p><a href="/brands">Back to Brands</a></p>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
